<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.DepartmentDao">

    <resultMap id="BaseResultMap" type="com.example.entity.Department">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="manager_id" property="managerId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, description, manager_id, create_time, update_time, is_deleted
    </sql>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        FROM department
        WHERE id = #{id,jdbcType=INTEGER} AND is_deleted = 0
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM department
        WHERE is_deleted = 0
        ORDER BY create_time DESC
    </select>

    <select id="selectByCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM department
        WHERE is_deleted = 0
        <if test="name != null and name != ''">
            AND name LIKE CONCAT('%', #{name}, '%')
        </if>
        ORDER BY create_time DESC
    </select>

    <insert id="insert" parameterType="com.example.entity.Department" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO department
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
            <if test="managerId != null">manager_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="managerId != null">#{managerId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Department">
        UPDATE department
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="managerId != null">manager_id = #{managerId},</if>
            update_time = #{updateTime},
        </set>
        WHERE id = #{id,jdbcType=INTEGER} AND is_deleted = 0
    </update>

    <update id="updateToDelete" parameterType="java.lang.Integer">
        UPDATE department
        SET is_deleted = 1
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="countByCondition" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM department
        WHERE is_deleted = 0
        <if test="name != null and name != ''">
            AND name LIKE CONCAT('%', #{name}, '%')
        </if>
    </select>
</mapper>